rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
    }
    match /transactions/{transactionId} {
      allow read, write: if true;
    }
    match /games/{gameId} {
      allow read, write: if true;
    }
    match /banners/{bannerId} {
      allow read, write: if true;
    }
    match /payment_qrs/{qrId} {
      allow read, write: if true;
    }
    match /team_members/{memberId} {
      allow read, write: if true;
    }
    match /categories/{categoryId} {
      allow read, write: if true;
    }
  }
}
