rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'bnyeshop@gmail.com';
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
    }
    match /transactions/{transactionId} {
      allow read, write: if request.auth != null && (resource == null || resource.data.userId == request.auth.uid || isAdmin());
    }
  }
}
